<% include partials/headers %>
  <h1>HELLO FROM EJS</h1>
  <h1> Add Customer</h1>
    <ul>
      <% if(errors){ %>
        <% errors.forEach(function(errors){ %>
          <li><%= errors.msg %> </li>
        <% }) %>
    </ul>
      <% } %>


  <form method="post" action="/users/add">
    <label>First Name</label><br>
    <input type="text" name="first_name">
    <br><br>
    <label>Last Name</label><br>
    <input type="text"  name="last_name">
    <br><br>
    <label>Email</label><br>
    <input type="text"  name="email">
    <br><br>
    <input type="submit"  value="submit">

  </form>
<h2><%= title %> </h2>

<ul>
<% users.forEach(function(users){ %>
<li><%=users.first_name%> <%=users.last_name%></li>
<% }) %>

</ul>

<% include partials/footers %>
