<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Weather</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <fieldset>
      <form action="/" method="post">
        <input name="City" type="text" placeholder="Enter a City" required>
        <input type="submit">
      </form>
    </fieldset>
  </body>
</html>
